/*=============================================
  #CSS RESET
=============================================*/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0;margin:0 0 1em}

/*=============================================
  #TOOLS
=============================================*/
html{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
*,:after,:before{-webkit-box-sizing:inherit;-moz-box-sizing:inherit;box-sizing:inherit}

/* force hide passbolt extension */
iframe { display: none!important; }
/*=============================================
  #ROOT VARIABLES
=============================================*/
:root {
  --background-color: #1B1D29;
  --dark-bg-color: #11131b;

  --primary-color: #37EC92;
  --secondary-color: #37C3EC;

  --yellow: #FFAA17;
  --red: #EC3749;
  --purple: #AE4BFA;
  --blue: #3D9DF7;
  --green: #37EC92;
  --pink: #FF48AD;

  --text-color: #7d85a7;
  --darker-text-color: #575C75;
  --comment-color: #454A5F;
  --highlight-color: #D3D7E9;

  --font-size-px: 16px;
  --font-size-rem: 1.6rem;

  --mobile-font-size-px: 14px;
  --mobile-font-size-rem: 1.4rem;
  
  --default-padding: 16px;
  --medium-padding: 20px;
  --small-padding: 12px;
  --large-padding: 40px;

  --default-font: auger-mono, monospace;

  --comment-width-hashtags: '#';
}

@media only screen and (min-width: 480px) {
  :root {
    --default-padding: 24px;
    --medium-padding: 18px;
    --small-padding: 16px;
  }
}
/*=============================================
  #GENERAL
=============================================*/


* {
  font-family: inherit;
  line-height: inherit;
  color: inherit;
}

html {
  overflow-x: hidden;

  min-height: 100%;
  height: 100%;

  font-size: 16px;
  font-size: 62.5%;

  background-color: var(--background-color);
}

body {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 100vh;
	min-height: -webkit-fill-available;

  font-family: var(--default-font);
  font-size: var(--mobile-font-size-px); font-size: var(--mobile-font-size-rem);
  color: var(--text-color);
  line-height: 1.6;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--background-color);
}

@media only screen and (min-width: 600px) {
  body { align-items: flex-start; }
}

/*=============================================
  #HEADINGS
=============================================*/
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

* + h1, * + h2, * + h3, * + h4, * + h5, * + h6 {
  /* margin-top: 60px; */
}

h2 {
  font-size: var(--mobile-font-size-px);
  font-size: var(--mobile-font-size-rem);
}

/*----------  COMMENTS  ----------*/
.comment { display: inline; }

  .comment__text {
    position: relative;

    display: block;

    text-transform: uppercase;
    font-weight: 500;

    line-height: 1.1;
  }

  .comment__hashtags {
    display: flex;
    align-items: center;

    height: 20px;
  }

/*=============================================
  #UTILS
=============================================*/
.green { color: var(--primary-color); }
.blue { color: var(--secondary-color); }

.hide { display: none; }

s { color: var(--darker-text-color); }

input[type="text"] {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  outline: none;
  box-shadow: none;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

article::-webkit-scrollbar { width: 4px; }
article::-webkit-scrollbar-thumb { background-color: var(--primary-color); }

@media only screen and (min-width: 600px) {
  body::-webkit-scrollbar { width: 4px; }
  body::-webkit-scrollbar-thumb { background-color: var(--primary-color); }
}

::selection {
  color: var(--background-color);
  background: var(--highlight-color); /* WebKit/Blink Browsers */
}

::-moz-selection {
  color: var(--background-color);
  background: var(--highlight-color); /* Gecko Browsers */
}
/*=============================================
  #MAIN
=============================================*/
main {
  margin: 0 auto;
  padding: var(--large-padding) var(--default-padding);
  width: 100%;

  transition: width 250ms ease-in-out;
}

@media only screen and (min-width: 750px) {
  main { width: 80%; }
}

@media only screen and (min-width: 960px) {
  main { width: 60%; }
}

@media only screen and (min-width: 1200px) {
  main { width: 50%; }
}

@media only screen and (min-width: 1500px) {
  main { width: 750px; }
}

.notice-wrapper {
  position: fixed;

  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}

.notice-wrapper--top {
  bottom: unset;
  top: 0;
}

  .notice-wrapper--top .notice {
    border-top-right-radius: 0;
    border-top-left-radius: 0;

    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;

    background-color: var(--red)!important;
  }

  .notice--resume {
    display: none;
  }

  .notice {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;

    background-color: var(--text-color);
    color: var(--background-color);
    padding: 6px 14px 6px 14px;
    
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;

    transition: padding 250ms ease-in-out;
  }

  .notice:nth-of-type(even) {
    background-color: var(--yellow);
  }

  .notice + .notice {
    margin-left: 12px;
  }

  @media only screen and (min-width: 600px) {

    .notice-wrapper {
      top: 0;
      bottom: unset;
    }

    .notice-wrapper--top {
      display: none;
    }

      .notice {
        border-top-right-radius: 0;
        border-top-left-radius: 0;

        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
      }

      .notice--resume {
        display: block;
        background-color: var(--red)!important;
      }

      .notice:hover {
        padding: 12px 14px 6px 14px!important;
      }

  }

  .notice:hover {
      padding: 6px 14px 12px 14px;
  }

/*=============================================
  #CARD
=============================================*/
article {
  position: relative;
  display: inline-block;

  border: 2px solid var(--comment-color);
  padding: var(--medium-padding) var(--small-padding);

  width: 100%;
  height: 450px;
  min-height: 450px;

  border-radius: 5px;

  overflow-y: scroll;
  overflow-x: hidden;

  scroll-behavior: smooth;
  scroll-padding: var(--default-padding);
}

@media only screen and (min-width: 380px) {
  article { padding: 24px 16px; }
}

@media only screen and (min-width: 600px) {
  article {
    border: none;
    padding: 24px 0;
    height: auto;
  }
}

/*=============================================
  #PROMPT
=============================================*/
form {
  margin: var(--small-padding) 0 0 0;
  padding: 7px 8px;

  background-color: var(--dark-bg-color);
}

form + *,
section + section,
section + form { margin-top: var(--default-padding); }

/*=============================================
  #SYSTEM MESSAGE
=============================================*/
.system-message {
  position: fixed;

  inset: 0;

  padding: var(--default-padding);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: var(--primary-color);
  color: var(--background-color);

  z-index: 300;
}

.system-message.hide {
  display: none;
  position: unset;
}

  .system-message .comment__text { font-weight: 700; }

  .system-message .info__content { text-align: center; }