/*=============================================
  #CSS RESET
=============================================*/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0;margin:0 0 1em}

/*=============================================
  #TOOLS
=============================================*/
html{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
*,:after,:before{-webkit-box-sizing:inherit;-moz-box-sizing:inherit;box-sizing:inherit}

/* force hide passbolt extension */
iframe { display: none!important; }
/*=============================================
  #ROOT VARIABLES
=============================================*/
:root {
  --background-color: #1B1D29;
  --dark-bg-color: #11131b;

  --primary-color: #37EC92;
  --secondary-color: #37C3EC;

  --yellow: #FFAA17;
  --red: #EC3749;
  --purple: #AE4BFA;
  --blue: #3D9DF7;
  --green: #37EC92;
  --pink: #FF48AD;

  --text-color: #7d85a7;
  --darker-text-color: #575C75;
  --comment-color: #454A5F;
  --highlight-color: #D3D7E9;

  --font-size-px: 16px;
  --font-size-rem: 1.6rem;

  --mobile-font-size-px: 14px;
  --mobile-font-size-rem: 1.4rem;
  
  --default-padding: 16px;
  --medium-padding: 20px;
  --small-padding: 12px;
  --large-padding: 40px;

  --default-font: auger-mono, monospace;

  --comment-width-hashtags: '#';
}

@media only screen and (min-width: 480px) {
  :root {
    --default-padding: 24px;
    --medium-padding: 18px;
    --small-padding: 16px;
  }
}
/*=============================================
  #GENERAL
=============================================*/


* {
  font-family: inherit;
  line-height: inherit;
  color: inherit;
}

html {
  overflow-x: hidden;

  min-height: 100%;
  height: 100%;

  font-size: 16px;
  font-size: 62.5%;

  background-color: var(--background-color);
}

body {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 100vh;
	min-height: -webkit-fill-available;

  font-family: var(--default-font);
  font-size: var(--mobile-font-size-px); font-size: var(--mobile-font-size-rem);
  color: var(--text-color);
  line-height: 1.6;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--background-color);
}

@media only screen and (min-width: 600px) {
  body { align-items: flex-start; }
}

/*=============================================
  #HEADINGS
=============================================*/
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

* + h1, * + h2, * + h3, * + h4, * + h5, * + h6 {
  /* margin-top: 60px; */
}

h2 {
  font-size: var(--mobile-font-size-px);
  font-size: var(--mobile-font-size-rem);
}

/*----------  COMMENTS  ----------*/
.comment { display: inline; }

  .comment__text {
    position: relative;

    display: block;

    text-transform: uppercase;
    font-weight: 500;

    line-height: 1.1;
  }

  .comment__hashtags {
    display: flex;
    align-items: center;

    height: 20px;
  }

/*=============================================
  #UTILS
=============================================*/
.green { color: var(--primary-color); }
.blue { color: var(--secondary-color); }

.hide { display: none; }

s { color: var(--darker-text-color); }

input[type="text"] {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  outline: none;
  box-shadow: none;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

article::-webkit-scrollbar { width: 4px; }
article::-webkit-scrollbar-thumb { background-color: var(--primary-color); }

@media only screen and (min-width: 600px) {
  body::-webkit-scrollbar { width: 4px; }
  body::-webkit-scrollbar-thumb { background-color: var(--primary-color); }
}

::selection {
  color: var(--background-color);
  background: var(--highlight-color); /* WebKit/Blink Browsers */
}

::-moz-selection {
  color: var(--background-color);
  background: var(--highlight-color); /* Gecko Browsers */
}
/*=============================================
  #MAIN
=============================================*/
main {
  margin: 0 auto;
  padding: var(--large-padding) var(--default-padding);
  width: 100%;

  transition: width 250ms ease-in-out;
}

@media only screen and (min-width: 750px) {
  main { width: 70%; }
}

@media only screen and (min-width: 960px) {
  main { width: 60%; }
}

@media only screen and (min-width: 1200px) {
  main { width: 50%; }
}

@media only screen and (min-width: 1500px) {
  main { width: 750px; }
}

/*=============================================
  #PROMPT
=============================================*/
form {
  margin: var(--small-padding) 0 0 0;
  padding: 7px 8px;

  background-color: var(--dark-bg-color);
}

form + *,
section + section,
section + form { margin-top: var(--default-padding); }

/*=============================================
  #CARD CONTENT
=============================================*/
.info {

}

  .info__heading + .info__content { margin-top: var(--default-padding); }

  .info__content {

  }

    .info__content p + p { margin-top: var(--small-padding); }

/*=============================================
  #SKILLS
=============================================*/
.skills {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  gap: var(--small-padding);
}

@media only screen and (min-width: 480px) {
  .skills { grid-template-columns: repeat(2, 1fr); }
}
@media only screen and (min-width: 600px) {
  .skills { grid-template-columns: repeat(3, 1fr); }
}

  .skill__item {

  }

    .skill__level { display: flex; }

      .skill__level__indicator {
        display: flex;
        align-items: center;
      }

      .skill__level__percentage {
        color: var(--primary-color);
        margin-left: 6px;
      }

/*=============================================
  #LISTS
=============================================*/
.generic-list {

}

* + .generic-list { margin-top: var(--default-padding); }

.generic-list--help, 
.generic-list--link { display: grid; }

.generic-list--help { grid-template-columns: repeat(3, 1fr); }
.generic-list--link { grid-template-columns: repeat(2, 150px); }

@media only screen and (min-width: 480px) {
  .generic-list--link { grid-template-columns: repeat(3, 1fr); }
}

  .list__item {
    display: flex;
    flex-direction: column;
  }

  .list__item + .list__item {
    margin-top: var(--default-padding);
    padding-top: var(--default-padding);

    border-top: 2px dashed var(--comment-color);
  }

  .generic-list--help .list__item + .list__item,
  .generic-list--link .list__item + .list__item {
    margin-top: 4px;
    padding-top: 0;
    border: none;
  }

  .generic-list--link .list__item + .list__item {
    margin: 0;
  }

    .list__item a {
      color: var(--pink);
      text-decoration: none;
    }

      .list__item a h3 { font-weight: 700; }

      .list__item h3 {
        font-size: var(--mobile-font-size-px);
        font-size: var(--mobile-font-size-rem);
        font-weight: 500;

        width: 100%;
      }

      .generic-list--help .list__item h3,
      .generic-list--link .list__item h3 {
        font-weight: 600;
      }

      .generic-list--help .list__item h3 {
        color: var(--pink);
      }

      .generic-list--link .list__item h3 {
        color: var(--pink);
      }

        .list__item h3 > span {
          font-weight: 500;
          color: var(--text-color);
        }

        .list__item__tags {
          display: flex;
          align-items: center;
          flex-wrap: wrap;

          gap: 10px;
          
          margin-top: var(--small-padding);
        }
/*=============================================
  #TAGS
=============================================*/
.tag {
  padding: 4px 8px;
  
  color: var(--background-color);
  text-transform: uppercase;
  font-weight: 600;

  font-size: 12px;
  font-size: 1.2rem;
}

.tag--yellow { background-color: var(--yellow); }
.tag--red { background-color: var(--red); }
.tag--purple { background-color: var(--purple); }
.tag--blue { background-color: var(--blue); }
.tag--green { background-color: var(--green); }

/*=============================================
  #SYSTEM MESSAGE
=============================================*/
.system-message {
  position: fixed;

  inset: 0;

  padding: var(--default-padding);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: var(--primary-color);
  color: var(--background-color);

  z-index: 300;
}

.system-message.hide {
  display: none;
  position: unset;
}

  .system-message .comment__text { font-weight: 700; }

  .system-message .info__content { text-align: center; }