
/*=============================================
  #CARD CONTENT
=============================================*/
.info {

}

  .info__heading + .info__content { margin-top: var(--default-padding); }

  .info__content {

  }

    .info__content p + p { margin-top: var(--small-padding); }

/*=============================================
  #SKILLS
=============================================*/
.skills {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  gap: var(--small-padding);
}

@media only screen and (min-width: 480px) {
  .skills { grid-template-columns: repeat(2, 1fr); }
}
@media only screen and (min-width: 600px) {
  .skills { grid-template-columns: repeat(3, 1fr); }
}

  .skill__item {

  }

    .skill__level { display: flex; }

      .skill__level__indicator {
        display: flex;
        align-items: center;
      }

      .skill__level__percentage {
        color: var(--primary-color);
        margin-left: 6px;
      }

/*=============================================
  #LISTS
=============================================*/
.generic-list {

}

* + .generic-list { margin-top: var(--default-padding); }

.generic-list--help, 
.generic-list--link { display: grid; }

.generic-list--help { grid-template-columns: repeat(3, 1fr); }
.generic-list--link { grid-template-columns: repeat(2, 150px); }

@media only screen and (min-width: 480px) {
  .generic-list--link { grid-template-columns: repeat(3, 1fr); }
}

  .list__item {
    display: flex;
    flex-direction: column;
  }

  .list__item + .list__item {
    margin-top: var(--default-padding);
    padding-top: var(--default-padding);

    border-top: 2px dashed var(--comment-color);
  }

  .generic-list--help .list__item + .list__item,
  .generic-list--link .list__item + .list__item {
    margin-top: 4px;
    padding-top: 0;
    border: none;
  }

  .generic-list--link .list__item + .list__item {
    margin: 0;
  }

    .list__item a {
      color: var(--pink);
      text-decoration: none;
    }

      .list__item a h3 { font-weight: 700; }

      .list__item h3 {
        font-size: var(--mobile-font-size-px);
        font-size: var(--mobile-font-size-rem);
        font-weight: 500;

        width: 100%;
      }

      .generic-list--help .list__item h3,
      .generic-list--link .list__item h3 {
        font-weight: 600;
      }

      .generic-list--help .list__item h3 {
        color: var(--pink);
      }

      .generic-list--link .list__item h3 {
        color: var(--pink);
      }

        .list__item h3 > span {
          font-weight: 500;
          color: var(--text-color);
        }

        .list__item__tags {
          display: flex;
          align-items: center;
          flex-wrap: wrap;

          gap: 10px;
          
          margin-top: var(--small-padding);
        }
/*=============================================
  #TAGS
=============================================*/
.tag {
  padding: 4px 8px;
  
  color: var(--background-color);
  text-transform: uppercase;
  font-weight: 600;

  font-size: 12px;
  font-size: 1.2rem;

  background-color: var(--highlight-color);
}

.tag--yellow,
.tags--special { background-color: var(--yellow); }
.tag--red,
.tag--html { background-color: var(--red); }
.tag--purple,
.tag--css { background-color: var(--purple); }
.tag--blue,
.tag--javascript,
.tag--reactjs { background-color: var(--blue); }
.tag--green,
.tag--nodejs { background-color: var(--green); }

.yellow { color: var(--yellow); }

/*=============================================
  #GITHUB PROFILE
=============================================*/
.info--profile .info__content {
    display: flex;
    align-items: center;
}

    .info--profile picture {
        display: none;
        width: 100px;
        height: 100px;
        min-width: 100px;

        padding: 14px;
        border: 2px dashed var(--comment-color);

        margin-right: 20px;
    }


    @media only screen and (min-width: 600px) {
        .info--profile picture { display: block;}
    }


        .info--profile img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;
        }

    .info--profile picture + div {
        width: 100%;
    }

    .info--profile .link {
        font-weight: 700;
        color: var(--pink);
    }

    .info--profile h3 {
        font-size: 14px;
        font-size: 1.4rem;
    }

        .info--profile h3 > span {
            font-weight: 500;
            font-size: 14px; font-size: 1.4rem;
            color: var(--darker-text-color);
        }

    .profile-details {
        /* display: grid;
        grid-template-columns: repeat(3, 1fr); */

        display: flex;
        align-items: center;
        flex-wrap: wrap;

        gap: 16px;
        
        margin-top: 12px;
        padding-top: 12px;

        border-top: 2px dashed var(--comment-color);
        width: 100%;
    }
    
    @media only screen and (min-width: 600px) {
        .profile-details {
            flex-wrap: nowrap;
            gap: 6px;
        }

        .profile-details .list__item {
            flex-grow: 1;
            text-align: center;
        }
    }

        .profile-details .list__item {
            min-width: 80px;
            background-color: var(--dark-bg-color);
            padding: 4px 12px;

            font-weight: 600;
            text-transform: uppercase;
            font-size: 12px; font-size: 1.2rem;
            color: var(--background-color);
        }

        .profile-details .list__item.list__item--location {
            background-color: var(--yellow);
        }

        .profile-details .list__item.list__item--lang {
            background-color: var(--blue);
        }

        .profile-details .list__item.list__item--repos {
            background-color: var(--green);
        }

        .profile-details .list__item + .list__item {
            border: none;
            padding-top: 4px;
            margin-top: 0;
        }